<nav
  class="navbar navbar-expand-lg navbar-light"
  style="webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;"
>
  <div class="header">
    <div class="logo">
      <img src="https://i.imgur.com/AWm93ID.png" /><span
        class="navbar-brand"
      ></span>
    </div>

    <div class="menu">
      <button
        class="pointer"
        *ngFor="let option of options | keyvalue: sortNull"
        (click)="formatText(option.value)"
        #tooltip="matTooltip"
        [matTooltip]="toolbar[option.value].text"
        [matTooltipPosition]="'below'"
      >
        <i-feather class="fe-icon" [name]="option.value"></i-feather>
      </button>

      <button
        class="pointer"
        (click)="openEmojiDialog()"
        #tooltip="matTooltip"
        [matTooltip]="'添加 Emoji Ctrl+Shift+E'"
        [matTooltipPosition]="'below'"
      >
        <i-feather class="fe-icon" name="smile"></i-feather>
      </button>

      <button
        class="pointer"
        (click)="copyMarkup()"
        #tooltip="matTooltip"
        [matTooltip]="'复制 Markdown 文本 Ctrl+Shift+M'"
        [matTooltipPosition]="'below'"
      >
        <i-feather class="fe-icon" name="copy"></i-feather>
      </button>

      <button
        class="pointer"
        (click)="downloadMarkup()"
        #tooltip="matTooltip"
        [matTooltip]="'下载 Markdown 文档 Ctrl+Shift+S'"
        [matTooltipPosition]="'below'"
      >
        <i-feather class="fe-icon" name="download"></i-feather>
      </button>

      <!-- <button class="pointer" (click)="downloadMarkup()" #tooltip="matTooltip" [matTooltip]="'Load Template Ctrl+Shift+S'"
        [matTooltipPosition]="'below'">
        <i-feather class="fe-icon" name="package"></i-feather>
      </button> -->
      <button
        class="pointer"
        (click)="newFile()"
        #tooltip="matTooltip"
        [matTooltip]="'新建 Markdown 文档'"
        [matTooltipPosition]="'below'"
      >
        <i-feather class="fe-icon" name="loader"></i-feather>
      </button>
      <button
        class="pointer"
        (click)="loadMarkup()"
        #tooltip="matTooltip"
        [matTooltip]="'加载已保存的 Markdown 文档'"
        [matTooltipPosition]="'below'"
      >
        <i-feather class="fe-icon" name="hard-drive"></i-feather>
      </button>
    </div>

    <div class="menu end">
      <span
        *ngIf="!fileName"
        #tooltip="matTooltip"
        [matTooltip]="'未保存文件，点击保存键来保存 Markdown 文档。'"
        [matTooltipPosition]="'below'"
      >
        <i-feather class="fe-icon warning" name="alert-circle"></i-feather>
        {{ fileName ? fileName : "Untitled" }}</span
      >
      <span *ngIf="fileName">
        <i-feather class="fe-icon warning" name="file"></i-feather>
        {{ fileName }}</span
      >

      <a>
        <ntkme-github-button
          class="github-star"
          user="BPCClub"
          repo="Markdown"
          count="true"
        >
        </ntkme-github-button>
      </a>

      <a (click)="toggleMode()" class="pointer">
        <i-feather class="fe-icon" name="moon" *ngIf="!isDarkMode"></i-feather>
        <i-feather class="fe-icon" name="sun" *ngIf="isDarkMode"></i-feather>
        <!-- <i-feather class="fe-icon" name="sun"></i-feather> -->
      </a>
    </div>
  </div>
  <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
</nav>
